@charset "utf-8";
/* CSS Document */

h1 {
	color: #C71619; 
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-weight: 100;
}